{% extends 'base.html'%}
{% load static %}
{% block content %}
    <div class="text-center m-4 pb-1">
    <img src="{% static 'images/africa_banner.jpg'%}" class="img-fluid" >
        <p></p>
    <h style="font-size:4.5vh;">Africa</h>
    </div>
<div class ="m-5 ">
        <p>The overall population in the Nile basin countries will have increased ten-fold from 1950 to 2050 reaching more than 860 million, of
            which more than 50% will live in the basin area solely dependent upon the Nile and the rain in the catchment area. Currently the ratification
            process of the Cooperative Framework Agreement (CFA) is stalled and does not include two of the most important riparian countries,
            Egypt and the Sudan. We note that South Sudan has applied to be a member state. The River Nile is a source for different degrees and
            levels of cooperation and conflict in the present and the future. Joint, peaceful,
            academic research, exchange and networking is important and may be one angle to approach improved development and sustainable stability in the region.
         </p>
          <p>
             The dramatic population increase will put more emphasis and pressure on the Nile eco-system as a critical resource for socio-economic livelihoods
              and geo-political considerations. Climate change will, in addition, exacerbate the situation evidenced increasingly in the Protocols that are being
              debated in the African Union Summits as well as by the Intergovernmental Authority on Development (IGAD) (IGAD Environment Outlook Report 2010).
          </p>
          <p>
              There is therefore a strong need to build institutional capacity within the Nile Basin to do policy and livelihoods relevant research on water, society and climate change adaptation from a basis of cross-disciplinary and gender sensitive research.
              The project seeks to join different disciplines from meteorology to humanities and social science to take a holistic approach to climate change adaptation
              and mitigation research with special reference to water and society. Capacity will be built at participating institutions to improve
              the capacity of staff to supervise MA and PhD students as well as to do quality independent research. Such capacity cannot be built
              at every institution in the region but we have selected three large public universities with strong competence within their field and
              one new university, Juba, in a newly independent country where academic, technical and management capacity profoundly needs to be built.
        </p>

</div>
{% endblock content %}