{% extends 'base.html'%}
{% load static %}
{% block content %}
    <div class="text-center m-4 pb-1">
    <img src="{% static 'images/asia_banner.jpg'%}" class="img-fluid" >
        <p></p>
    <h style="font-size:4.5vh;">Asia</h>
    </div>
<div class ="m-5 ">
        <p>Sri Lanka, Bangladesh and Cambodia are three countries which are heavily dependent on sound water management and some of the most severely affected countries
    by the Climate Change. While the countries have variable populations and population densities, they share the challenges related to water, which is also
    related to the population increase, urbanisation and industrialisation. While acknowledging the need for Integrated Water Resources Management, water supply
    and sanitation and adaptation to climate change as key challenges to the decades and centuries to come, all three countries are in heavy need of water
    specialists in all sectors. The role of water specialists in the decision making levels is considerably low, also as a result of lack of earmarked
    educational programs in own countries. Many of the current higher PG studies related to water and sanitation are carried out in industrialised countries
    through various bi- and multi-lateral programs, while their capacities are inadequate to match with the huge and growing need. In addition to that,
    such programs also have negative impacts as brain drain.
</p>
          <p>
There is therefore a strong need to build institutional capacity within the Asian countries to do policy and livelihoods relevant research on water,
    society and climate change adaptation from a basis of cross-disciplinary and gender sensitive research.

The project seeks to join different disciplines from meteorology to humanities and social science to take a holistic approach to resource management,
    climate change adaptation and mitigation research with special reference to water and society. Capacity will be built at participating institutions
    to improve the capacity of staff to supervise master and PhD students as well as to do quality independent research. Such capacity cannot be built
    at every institution in the region but we have selected two leading universities with strong competence within the traditional water engineering
    fields but striving to build up research capacities in emerging disciplines and two young, less strong but ambitious universities with urgent
    needs in both traditional water resources management and engineering as well as emerging issues.
          </p>
          <p>
The project proposes to build capacity among institutions of higher education and individuals therein charged with building local capacity for water,
    society and climate change management in the selected Asian countries. Today’s needs in the decision making bodies are much more specialised than
    what the traditional university studies have offered in these countries (for e.g.: there are no water management specialisation in undergraduate
    studies, while there is a great demand for such specialist in the decision making bodies). Thus, the need for graduate and especially post graduate
    programs specialising in these subjects are significant. Graduates in the state administration and in the private sector as well as within the
    universities are mostly searching for PG opportunities in industrialised countries with scholarships. These are extremely limited and also facilitate
    brain drain to a greater degree. Creating adequately attractive PG opportunities is the only sustainable way to win this situation, which shall be an
    important outcome of this project. Two of the partners (UOJ and ITC) additionally
    require strengthening of the bachelor’s programmes as well through staff training and laboratory facilities.
        </p>

</div>
{% endblock content %}