#container{

background-position: center;
background-size: cover;
min-height:100vh;
width:100%;
}

#header{
position: relative;
width: 100%;
z-index: 99;
background-color: black;
}

#content .colMS h1{
color:black !important;
}