{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Headline -->
    <div class="row justify-content-center" style="padding.top: 5rem:">
        <div class="col-sm-6-12 my-col-sm-6" align="center">
    	    <h1 style="font-size:25px">Our Specialist</h1>
    	</div>
    </div>

<!-- next and previes pages -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="{% url 'Specialist' %}" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="{% url 'Specialist' %}">1</a></li>
        <li class="page-item disabled"><a class="page-link" href="{% url 'Specialist2' %}">2</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'Specialist3' %}">3</a></li>
        <li class="page-item">
          <a class="page-link" href="{% url 'Specialist3' %}">Next</a>
        </li>
      </ul>
    </nav>


<!-- Profiles -->
	<div class="container">
		<div class="row justify-content-center">

	        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" align="center">
                <div class="card">
                    <a href="{% url 'profSivashanthiniKuganathan' %}">
                        <img class="card-img-top img-fluid" src="{% static 'images/prof_sivashanthini_kuganathan.jpg' %}" alt="Prof. Sivashanthini Kuganathan">
                    </a>
                    <div class="card-body">
                        <h4 class ="card-title">Prof. Sivashanthini Kuganathan</h4>
                        <p class="card-text">Professor and Head <br> University of Jaffna Department of Fisheries, Faculty of Science</p>
                    </div>
                </div>
            </div>

			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" align="center">
                <div class="card">
                    <a href="{% url 'EngMissThakshajiniLogeswaran' %}">
                        <img class="card-img-top img-fluid" src="{% static 'images/eng_miss _thakshajini _logeswaran.jpg' %}" alt="Eng.Miss Thakshajini Logeswaran">
                    </a>
                    <div class="card-body">
                        <h4 class ="card-title">Eng.Miss Thakshajini Logeswaran</h4>
                        <p class="card-text">Lecturer in Civil Engineering <br> University of Jaffna Department of Civil Engineering</p>
                    </div>
                </div>
            </div>

			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" align="center">
                <div class="card">
                    <a href="{% url 'zakharMaletskyi' %}">
                        <img class="card-img-top img-fluid" src="{% static 'images/zakhar_maletskyi.jpg' %}" alt="Zakhar Maletskyi">
                    </a>
                    <div class="card-body">
                        <h4 class ="card-title">Zakhar Maletskyi</h4>
                        <p class="card-text">Postdoctoral Fellow, Project secretary <br> Norwegian University of Life Sciences Faculty of Science and Technology (REALTEK)</p>
                    </div>
                </div>
            </div>

			 <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" align="center">
                <div class="card">
                    <a href="{% url 'profFrancisMutua' %}">
                        <img class="card-img-top img-fluid" src="{% static 'images/user.png' %}" alt="Prof. Francis Mutua">
                    </a>
                    <div class="card-body">
                        <h4 class ="card-title">Prof. Francis Mutua</h4>
                        <p class="card-text">University of Nairobi <br> Department of Meteorology</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" align="center">
                <div class="card">
                    <a href="{% url 'profKDWNandalal' %}">
                        <img class="card-img-top img-fluid" src="{% static 'images/prof_k_d_w_nandalal.jpg' %}" alt="Prof. K. D. W. Nandalal">
                    </a>
                    <div class="card-body">
                        <h4 class ="card-title">Prof. K. D. W. Nandalal</h4>
                        <p class="card-text">Senior Professor, PhD <br> University of Peradeniya</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" align="center">
                <div class="card">
                    <a href="{% url 'dalmasOmia' %}">
                        <img class="card-img-top img-fluid" src="{% static 'images/user.png' %}" alt="Dalmas Omia">
                    </a>
                    <div class="card-body">
                        <h4 class ="card-title">Dalmas Omia</h4>
                        <p class="card-text">University of Nairobi</p>
                    </div>
                </div>
            </div>

			 <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" align="center">
                <div class="card">
                    <a href="{% url 'toneJoranOredalen' %}">
                        <img class="card-img-top img-fluid" src="{% static 'images/tone_jøran_oredalen.jpg' %}" alt="Tone Jøran Oredalen">
                    </a>
                    <div class="card-body">
                        <h4 class ="card-title">Tone Jøran Oredalen</h4>
                        <p class="card-text">Assistant professor, USN-coordinator WaSo Projects <br> University College of Southeast Norway (USN) Department of Natural Sciences and Environmental Health</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" align="center">
                <div class="card">
                    <a href="{% url 'profKPPPathirana' %}">
                        <img class="card-img-top img-fluid" src="{% static 'images/prof_k_p_p_pathirana.jpg' %}" alt="Prof. K. P. P. Pathirana">
                    </a>
                    <div class="card-body">
                        <h4 class ="card-title">Prof. K. P. P. Pathirana</h4>
                        <p class="card-text">Professor, PhD <br> University of Peradeniya</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" align="center">
                <div class="card">
                    <a href="{% url 'drMdMafizurRahman' %}">
                        <img class="card-img-top img-fluid" src="{% static 'images/dr_md_mafizur_rahman.jpg' %}" alt="Dr Md. Mafizur Rahman">
                    </a>
                    <div class="card-body">
                        <h4 class ="card-title">Dr Md. Mafizur Rahman</h4>
                        <p class="card-text">Professor <br> Bangladesh University of Engineering & Technology Department of Civil Engineering</p>
                    </div>
                </div>
            </div>

             <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" align="center">
                <div class="card">
                    <a href="{% url 'drDoungRatha' %}">
                        <img class="card-img-top img-fluid" src="{% static 'images/user.png' %}" alt="Dr. Doung Ratha">
                    </a>
                    <div class="card-body">
                        <h4 class ="card-title">Dr. Doung Ratha</h4>
                        <p class="card-text">Institute of Technology of Cambodia</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" align="center">
                <div class="card">
                    <a href="{% url 'harshaRatnaweera' %}">
                        <img class="card-img-top img-fluid" src="{% static 'images/harsha_.jpg' %}" alt="Harsha Ratnaweera">
                    </a>
                    <div class="card-body">
                        <h4 class ="card-title">Harsha Ratnaweera</h4>
                        <p class="card-text">Professor, Doctor of Engineering <br> Norwegian University of Life Sciences Faculty of Science and Technology (REALTEK)</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" align="center">
                <div class="card">
                    <a href="{% url 'hansRenssen' %}">
                        <img class="card-img-top img-fluid" src="{% static 'images/hans_renssen.jpg' %}" alt="Hans Renssen">
                    </a>
                    <div class="card-body">
                        <h4 class ="card-title">Hans Renssen</h4>
                        <p class="card-text">Professor <br> University of Southeast Norway Natural Sciences and Environmental Health</p>
                    </div>
                </div>
            </div>

		</div>
	</div>

    <!-- next and previes pages bottom-->
    <nav aria-label="Page navigation" style="padding-top: 5rem;">
        <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="{% url 'Specialist' %}" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="{% url 'Specialist' %}">1</a></li>
        <li class="page-item disabled"><a class="page-link" href="{% url 'Specialist2' %}">2</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'Specialist3' %}">3</a></li>
        <li class="page-item">
          <a class="page-link" href="{% url 'Specialist3' %}">Next</a>
        </li>
      </ul>
    </nav>

{% endblock content %}
