{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Headline -->
    <div class="row justify-content-center" style="padding.top: 5rem;">
        <div class="col-sm-6-12 my-col-sm-6" align="center">
    	    <h1 style="font-size:25px">Our Specialist</h1>
    	</div>
    </div>

<!-- next and previes pages top -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="{% url 'Specialist2' %}" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="{% url 'Specialist' %}">1</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'Specialist2' %}">2</a></li>
        <li class="page-item disabled"><a class="page-link" href="{% url 'Specialist3' %}">3</a></li>
        <li class="page-item disabled">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>


<!-- Profiles -->
	<div class="container-fluid">
		<div class="row justify-content-center">

	        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" align="center">
                <div class="card">
                    <a href="{% url 'mal' %}">
                        <img class="card-img-top " src="{% static 'images/dr_mona_sabo.jpg' %}" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h4 class ="card-title">Dr Mona Sabo</h4>
                        <p class="card-text">Here's some information about the team member</p>
                    </div>
                </div>
            </div>

			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" align="center">
                <div class="card">
                    <a href="{% url 'mal' %}">
                        <img class="card-img-top " src="{% static 'images/dr_tore.jpg' %}" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h4 class ="card-title">Tore Sætersdal</h4>
                        <p class="card-text">Here's some information about the team member</p>
                    </div>
                </div>
            </div>

			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" align="center">
                <div class="card">
                    <a href="{% url 'mal' %}">
                        <img class="card-img-top " src="{% static 'images/eng_d_saliya_sampath.jpg' %}" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h4 class ="card-title">Eng. D. Saliya Sampath</h4>
                        <p class="card-text">Here's some information about the team member</p>
                    </div>
                </div>
            </div>

			 <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" align="center">
                <div class="card">
                    <a href="{% url 'mal' %}">
                        <img class="card-img-top " src="{% static 'images/nimalka_sanjeewani.jpg' %}" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h4 class ="card-title">Nimalka Sanjeewani</h4>
                        <p class="card-text">Here's some information about the team member</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" align="center">
                <div class="card">
                    <a href="{% url 'mal' %}">
                        <img class="card-img-top " src="{% static 'images/user.png' %}" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h4 class ="card-title">Ronald Paul Ddumba Semyalo</h4>
                        <p class="card-text">Here's some information about the team member</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" align="center">
                <div class="card">
                    <a href="{% url 'mal' %}">
                        <img class="card-img-top " src="{% static 'images/dr_subramaniam_sivakumar.jpg' %}" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h4 class ="card-title">Dr. Subramaniam Sivakumar</h4>
                        <p class="card-text">Here's some information about the team member</p>
                    </div>
                </div>
            </div>

			 <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" align="center">
                <div class="card">
                    <a href="{% url 'mal' %}">
                        <img class="card-img-top " src="{% static 'images/live_semb_vestgarden.jpg' %}" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h4 class ="card-title">Live Semb Vestgarden</h4>
                        <p class="card-text">Here's some information about the team member</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" align="center">
                <div class="card">
                    <a href="{% url 'mal' %}">
                        <img class="card-img-top " src="{% static 'images/weerakoon_.jpg' %}" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h4 class ="card-title">Prof. S.B. Weerakoon</h4>
                        <p class="card-text">Here's some information about the team member</p>
                    </div>
                </div>
            </div>


		</div>
	</div>

    <!-- next and previes pages bottom-->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center" style="padding-top: 5rem;">
        <li class="page-item">
            <a class="page-link" href="{% url 'Specialist2' %}" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="{% url 'Specialist' %}">1</a></li>
        <li class="page-item"><a class="page-link" href="{% url 'Specialist2' %}">2</a></li>
        <li class="page-item disabled"><a class="page-link" href="{% url 'Specialist3' %}">3</a></li>
        <li class="page-item disabled">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>

{% endblock content %}