{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
	    <div class="col-sm-6-12 my-col-sm-6 align-self-center" align="center">
    		<img style="height: 20rem;" src="{% static 'images/balachandran_ketheesan.jpg' %}" alt="Balachandran Ketheesan">
    	</div>
    	<div class="col-lg-4 col-sm-12 col-xs-12" align="center">
    		<h2>Balachandran Ketheesan</h2><br>
            <p> Senior Lecturer, PhD University of Jaffna Department of Civil Engineering. </p>
            <h1>Work address: </h1>
            <p> Ariviyal Nagar, <br>
                Kilinochchi, <br>
                Sri Lanka. <br>
                Work Phone: +94-21-206-0160 <br>
                Work Email: <a href="yacob.arsano@aau.edu.et">yacob.arsano@aau.edu.et</a>
            </p>
        </div>
        <div class="col-lg-10 col-sm-12 col-xs-12" align="center">
            <h1>Professional Bio</h1>
            <p>Dr. Ketheesan is a senior lecturer attached to Department of Civil Engineering, Faculty of Engineering, University of Jaffna. He obtained his B.Sc (Eng) degree from the University of Peradeniya in Year 2007. Then, he received his Master’s degree (Environmental Engineering) and PhD (Civil engineering) from
                New Mexico state university, United States in Year 2009 and 2012, respectively. He worked as a Research fellow at Nanyang Environment and Water research institute (NEWRI), Nanyang Technological University, Singapore from Jan 2013 to September 2016 prior to his appointment at University of Jaffna. He has over eight
                years of research experience in the field of environmental/water engineering with particular emphasis on waste/biomass to bioenergy technologies, integrated anaerobic digestion and membrane technology, microalgae to bio-diesel production and mathematical modeling of environmental bioprocesses. <br>
                Research Interests: <br>
                Anaerobic digestion <br>
                Biohydrogen production <br>
                Microalgae biofuel production <br>
                Bioreactor development <br>
                Anaerobic membrane bioreactor <br>
                Metal bioavailability in anaerobic reactors <br>
                Waste to bioenergy <br>
                Low cost adsorbents for wastewater treatment</p>
    	</div>
    </div>
</div>

{% endblock content %}
