{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
	    <div class="col-sm-6-12 my-col-sm-6 align-self-center" align="center">
    		<img style="height: 20rem;" src="{% static 'images/user.png' %}" alt="Dalmas Omia">
    	</div>
    	<div class="col-lg-4 col-sm-12 col-xs-12" align="center">
    		<h2>Dalmas Omia</h2><br>
            <p> University of Nairobi </p>
            <p>
                Work Email: <a href="dalmas.ochieng@gmail.com">dalmas.ochieng@gmail.com</a>
            </p>
        </div>
        <div class="col-lg-10 col-sm-12 col-xs-12" align="center">

    	</div>
    </div>
</div>

{% endblock content %}