{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
    <div class="row justify-content-center">
	    <div class="col-sm-6-12 my-col-sm-6 align-self-center" align="center">
    		<img src="{% static 'images/dr_g_b_b_herath.jpg' %}" alt="Dr. G. B. B. Herath">
    	</div>
    	<div class="col-lg-4 col-sm-12 col-xs-12" align="center">
    		<h2>Dr. G. B. B. Herath</h2><br>
            <p> Senior Lecturer, PhD University of Peradeniya.
                Work Email: <a href="Gemunuh@pdn.ac.lk">Gemunuh@pdn.ac.lk</a>
            </p>
        </div>
        <div class="col-lg-10 col-sm-12 col-xs-12" align="center">
            <h1>Professional Bio</h1>
            <p>PhD : University of Tokyo, Japan, (1998) in Environmental Engineering <br>
                MEng : Asian Institute of Technology, Thailand (1994) in Water & Wastewater Engineering <br>
                BScEng : University of Peradeniya (1991) <br>
                Stage I of Charted Institute of Management Association Examination (CIMA), UK <br>
                Research interests<br>

                Water and Wastewater Treatment and Disposal Technologies, <br>
                Appropriate Sanitation Technologies <br>
                Solid Waste Management, <br>
                Water Resources Management <br>
                Water Quality Monitoring<br>
            </p>
    	</div>
    </div>

{% endblock content %}