{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
    <div class="row justify-content-center">
	    <div class="col-sm-6-12 my-col-sm-6 align-self-center" align="center">
    		<img src="{% static 'images/dr_k_b_s_jinadasa.jpg' %}" alt="Dr. K. B. S. Jinadasa">
    	</div>
    	<div class="col-lg-4 col-sm-12 col-xs-12" align="center">
    		<h2>Dr. K. B. S. Jinadasa</h2><br>
            <p> Senior Lecturer, PhD University of Peradeniya <br>
                Work Email: <a href="shamj@pdn.ac.lk">shamj@pdn.ac.lk</a>
            </p>
        </div>
        <div class="col-lg-10 col-sm-12 col-xs-12" align="center">
            <h1>Professional Bio</h1>
            <p>Doctor of Philosophy :Saitama University, Japan. <br>
                Master of Engineering: National University of Singapore, Singapore. <br>
                Bachelor of Science in Engineering University of Peradeniya, Sri Lanka. <br>
                Member, Sri Lanka Association for the Advancement of Science <br>
                Research interests <br>

                Development of sustainable water and wastewater management technologies <br>
                Development of biological wastewater treatment methods for industrial wastewaters <br>
                Development of Innovative methodologies in environmental protection <br>
                Constructed wetlands for water quality management in tropical regions</p>
    	</div>
    </div>

{% endblock content %}