{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
	    <div class="col-sm-6-12 my-col-sm-6 align-self-center" align="center">
    		<img style="height: 20rem;" src="{% static 'images/dr_md_mafizur_rahman.jpg' %}" alt="Dr Md. Mafizur Rahman">
    	</div>
    	<div class="col-lg-4 col-sm-12 col-xs-12" align="center">
    		<h2>Dr Md. Mafizur Rahman</h2><br>
            <p> Professor Bangladesh University of Engineering & Technology Department of Civil Engineering </p>
            <h1>Work address: </h1>
            <p> BUET Central Road, <br>
                Dhaka 1000, <br>
                Bangladesh.
                <br>
                Work Email: <a href="mafizur@gmail.com">mafizur@gmail.com</a>
            </p>
        </div>
        <div class="col-lg-10 col-sm-12 col-xs-12" align="center">
            <h1>Professional Bio</h1>
            <p>Dr. Md. Mafizur Rahman received his Bachelors and Masters degree in Civil Engineering from Bangladesh University of
                Engineering & Technology (BUET) and Ph.D. from University of Tokyo, Japan. He is involved in several national
                and international projects as a consultant to ADB, UNICEF, NORAD, JICA, World Bank. Since 2013 he is working as
                a Visiting Professor, University of Tokyo, Japan. He was awarded The University BLUE (BUET) in 1994 for the overall
                excellence both in the academic arena as well as in Games and athletics. He is the author of the book “Climate
                change pattern in Bangladesh & Impact on Water Cycle” published by ITN-BUET. His major research interest includes
                Climate Change impacts on food security, Climate change and water environment, Alternate water resources in urban
                and rural areas of developing countries, Groundwater pollution and Recharge, Environmental and Water Resources
                Engineering with GIS application, Urban air pollution, and impact of climate change.</p>
    	</div>
    </div>
</div>

{% endblock content %}