{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
	    <div class="col-sm-6-12 my-col-sm-6 align-self-center" align="center">
    		<img style="height: 20rem;" src="{% static 'images/dr_subramaniam_sivakumar.jpg' %}" alt="Dr. Subramaniam Sivakumar">
    	</div>
    	<div class="col-lg-4 col-sm-12 col-xs-12" align="center">
    		<h2>Dr. Subramaniam Sivakumar</h2><br>
            <p> former Head of the Department, PhD University of Jaffna Department of Civil Engineering <br>
                Work Email: <a href="sssiva100@yahoo.com">sssiva100@yahoo.com</a>
            </p>
        </div>
        <div class="col-lg-10 col-sm-12 col-xs-12" align="center">
            <h1>Professional Bio</h1>
            <p>Professional career: <br>
                Bachelor of Science in Engineering University of Peradeniya, Sri Lanka. <br>
                Master of Science IIT, Roorkee, <br>
                Doctor of Philosophy, University of Moratuwa <br>
                Fellow, the Institution of Engineers, Sri Lanka <br>
                Member of the Sri Lanka Association for the Advancement of Science <br>
                Chartered Engineer <br>
                <br>

                Research interests: <br>
                Water resource utility of Northern river basins <br>
                Ground water development of Jaffna peninsula <br>
                Project Management in post conflict scenario <br>
                Environmental concerns and social responsibility <br>
                <br>
                Dr. (Eng.) S.S. Sivakumar received his BSc (Eng) Degree with second class honours from the University of Peradeniya (1982),
                his MSc (WRD) with first class honours from the Indian Institute of Technology, Roorkee (formerly University of Roorkee/St
                Thomes Military University) in 1993, and his PhD from the University of Moratuwa in 2008. He is currently serving as Head of
                Civil Engineering at the Faculty of Engineering and is the coordinator for the establishment of the Engineering Faculty at Kilinochchi.
                His research is mainly focused on water resource utility and ground water development of Northern river basins.</p>
    	</div>
    </div>
</div>

{% endblock content %}