{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
	    <div class="col-sm-6-12 my-col-sm-6 align-self-center" align="center">
    		<img style="height: 20rem;" src="{% static 'images/dr_w_c_t_k_gunawardana.jpg' %}" alt="Dr. W. C. T. K. Gunawardana">
    	</div>
    	<div class="col-lg-4 col-sm-12 col-xs-12" align="center">
    		<h2>Dr. W. C. T. K. Gunawardana</h2><br>
            <p> Senior Lecturer, PhD University of Peradeniya.
                Work Email: <a href="chandimag@pdn.ac.lk">chandimag@pdn.ac.lk</a>
            </p>
        </div>
        <div class="col-lg-10 col-sm-12 col-xs-12" align="center">
            <h1>Professional Bio</h1>
            <p>Doctor of Philosophy,Queensland University of Technology, Brisbane, Australia. 2011 <br>
                Post Graduate Diploma, University of Peradeniya, 2008 <br>
                BScEng (Hons) University of Peradeniya. 2006 <br>
                Associate Member: Institution of Engineers Sri Lanka (IESL), (Since 2006) <br>
                Professional Engineer (skill level 1): Engineers Australia (Since 2012) <br>
                Research interests:<br>
                Pollutant sorption by natural materials and modification of adsorbents.<br>
                Pre-filter media development for excess pollutant loads.<br>
                Rainwater harvesting and water quality assessment.<br>
                Stormwater pollution and best management practices</p>
    	</div>
    </div>
</div>

{% endblock content %}
