{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
	    <div class="col-sm-6-12 my-col-sm-6 align-self-center" align="center">
    		<img style="height: 20rem;" src="{% static 'images/eng_d_saliya_sampath.jpg' %}" alt="Eng. D. Saliya Sampath">
    	</div>
    	<div class="col-lg-4 col-sm-12 col-xs-12" align="center">
    		<h2>Eng. D. Saliya Sampath</h2><br>
            <p> Lecturer in Civil Engineering University of Jaffna Department of Civil Engineering <br>
                Work Phone: +94776993908 <br>
                Work Email: <a href="saliya@eng.jfn.ac.lk"> saliya@eng.jfn.ac.lk</a>
            </p>
        </div>
        <div class="col-lg-10 col-sm-12 col-xs-12" align="center">
            <h1>Professional Bio</h1>
            <p>Mr. D. S. Sampath received BSc Eng (Hons) degree from University of Peradeniya in 2012 and M.Phil. degree
                from same university on 2015. He served as an irrigation Engineer attached to the Central Engineering Consultancy
                Bureau (CECB) for a period of 5 months. Later he joined the Department of Civil Engineering, University of
                Peradeniya as a Research Assistant for a period of 2 years. Currently, He is affiliated to the Department of Civil
                Engineering, University of Jaffna as lecturer from Dec 2014 onward. He is serving as a project secretary for WaSo
                project of University of Jaffna and Water Harmony Erasmus + Project of University of Jaffna from May 2015 onwards.
                He published 5 journal papers, 15 international conference papers and 7 national conference papers.</p>
    	</div>
    </div>
</div>

{% endblock content %}