{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
	    <div class="col-sm-6-12 my-col-sm-6 align-self-center" align="center">
    		<img style="height: 20rem;" src="{% static 'images/eng_miss _thakshajini _logeswaran.jpg' %}" alt="Eng.Miss Thakshajini Logeswaran">
    	</div>
    	<div class="col-lg-4 col-sm-12 col-xs-12" align="center">
    		<h2>Eng.Miss Thakshajini Logeswaran</h2><br>
            <p> Lecturer in Civil Engineering University of Jaffna Department of Civil Engineering</p>
            <p>
                Work Email: <a href="lpthaksha@eng.jfn.ac.lk">lpthaksha@eng.jfn.ac.lk</a>
            </p>
        </div>
        <div class="col-lg-10 col-sm-12 col-xs-12" align="center">
            <h1>Professional Bio</h1>
            <p>Miss.L. Thakshajini received Honors degree of BSc.Eng with second class from University of Peradeniya in 2014.
                She has been working for Grontmij A/S Denmark (pvt) ltd for a year since 2014 in the Jaffna -Kilinochchi Water
                Supply and Sanitation Project. She served as a design engineer since 2015. Presently she is attached in the Department of Civil Engineering.<br>
                <br>
                Research interests: <br>
                Wastewater Treatment and Reuse <br>
                Package Water Treatment Plants <br>
                Water Resource Engineering <br>
                Solid waste management systems design in urban areas <br>
                Surge Analysis of Water Transmission Systems <br>
                Water Quality Modelling <br>
                Groundwater Hydrology <br>
                Membrane technologies </p>
    	</div>
    </div>
</div>

{% endblock content %}