{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
	    <div class="col-sm-6-12 my-col-sm-6 align-self-center" align="center">
    		<img style="height: 20rem;" src="{% static 'images/harsha_.jpg' %}" alt="Harsha Ratnaweera">
    	</div>
    	<div class="col-lg-4 col-sm-12 col-xs-12" align="center">
    		<h2>Harsha Ratnaweera</h2><br>
            <p> Professor, Doctor of Engineering Norwegian University of Life Sciences Faculty of Science and Technology (REALTEK) </p>
            <h1>Work address: </h1>
            <p> Drøbakveien 31, <br>
                Akershus Ås 1430, <br>
                Norway.
                <br>
                Work Email: <a href="harsha@nmbu.no">harsha@nmbu.no</a>
            </p>
        </div>
        <div class="col-lg-10 col-sm-12 col-xs-12" align="center">
            <h1>Professional Bio</h1>
            <p>MSc (1987) at National Technical University of Ukraine; PhD (1992) at the Norwegian University of Science and Technology. <br>
                <br>
                Research interests: <br>
                Coagulation of water and wastewater <br>
                Process optimisation of chemical and biological processes <br>
                Membrane processes for drinking water and wastewater <br>
                Surveillance of water quality and remote data processing <br>
                NOM/Colour removal from drinking water <br>
                Image processing in water treatment for process optimisation <br>
                Increase plant availability of phosphates in wastewater sludge <br>
                Modelling of treatment processes <br>
                Statistical methods in water: virtual/software sensors</p>
    	</div>
    </div>
</div>

{% endblock content %}