{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
	    <div class="col-sm-6-12 my-col-sm-6 align-self-center" align="center">
    		<img style="height: 20rem;" src="{% static 'images/live_semb_vestgarden.jpg' %}" alt="Live Semb Vestgarden">
    	</div>
    	<div class="col-lg-4 col-sm-12 col-xs-12" align="center">
    		<h2>Live Semb Vestgarden</h2><br>
            <p> Head of Department, Associate professor (PhD) University College of Southeast Norway Natural Sciences and Environmental Health <br>
                Work Email: <a href="live.s.vestgarden@usn.no">live.s.vestgarden@usn.no</a>
            </p>
        </div>
        <div class="col-lg-10 col-sm-12 col-xs-12" align="center">
    	</div>
    </div>
</div>

{% endblock content %}