<{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
    <div class="row justify-content-center">
	    <div class="col-sm-6-12 my-col-sm-6 align-self-center" align="center">
    		<img src="{% static 'images/user.png' %}" alt="Nick Kilimani">
    	</div>
    	<div class="col-lg-4 col-sm-12 col-xs-12" align="center">
    		<h2>Nick Kilimani</h2><br>
            <> Makerere University. <br>
            Personal Email: <a href="nick.kilimani1@gmail.com">nick.kilimani1@gmail.com</a>
            </p>
        </div>
        <div class="col-lg-10 col-sm-12 col-xs-12" align="center">

    	</div>
    </div>

{% endblock content %}