{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
	    <div class="col-sm-6-12 my-col-sm-6 align-self-center" align="center">
    		<img style="height: 20rem;" src="{% static 'images/nimalka_sanjeewani.jpg' %}" alt="Nimalka Sanjeewani">
    	</div>
    	<div class="col-lg-4 col-sm-12 col-xs-12" align="center">
    		<h2>Nimalka Sanjeewani</h2><br>
            <p> Lecturer (Prob) University of Jaffna Department of Bio Science, Faculty of Applied Science <br>
                Work Email: <a href="nimalka.sanjeewani@gmail.com">nimalka.sanjeewani@gmail.com</a>
            </p>
        </div>
        <div class="col-lg-10 col-sm-12 col-xs-12" align="center">
            <h1>Professional Bio</h1>
            <p>I attached to the Department of Bio Science , Faculty of Applied Science,Vavuniya Campus of University of Jaffna
                since 2015. I was graduated from Sabaragamuwa University of Sri Lanka in Environmental Science and Natural resource
                management in year 2010 . further, I  obtained a postgraduate diploma in Oxford University, UK in 2016. I worked at
                Ministry of Environment from 2012 to 2015 under the policy and planning division. I had research experince on Biodiversity
                over 9 years  and recently I focus on drinking water treatment by using biological materials.</p>
    	</div>
    </div>
</div>

{% endblock content %}