{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
	    <div class="col-sm-6-12 my-col-sm-6 align-self-center" align="center">
    		<img style="height: 20rem;" src="{% static 'images/prof_k_p_p_pathirana.jpg' %}" alt="Prof. K. P. P. Pathirana">
    	</div>
    	<div class="col-lg-4 col-sm-12 col-xs-12" align="center">
    		<h2>Prof. K. P. P. Pathirana</h2><br>
            <p> Professor, PhD University of Peradeniya
                Work Phone: +94812393501 <br>
                Work Email: <a href="kpp@pdn.ac.lk">kpp@pdn.ac.lk</a>
            </p>
        </div>
        <div class="col-lg-10 col-sm-12 col-xs-12" align="center">
            <h1>Professional Bio</h1>
            <p>Research Interests <br>
                Wave-structure interaction: Performance of Reef Breakwaters <br>
                Hydraulic characteristics of Berm Breakwaters <br>
                Coastal sediment transport <br>
                Catchment erosion <br>
                Sediment transport in unsteady flows <br>
                Transport of non-uniform sediment <br>
                Reservoir sedimentation <br>
                Irrigation water management</p>
    	</div>
    </div>
</div>

{% endblock content %}