{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
	    <div class="col-sm-6-12 my-col-sm-6 align-self-center" align="center">
    		<img style="height: 20rem;" src="{% static 'images/weerakoon_.jpg' %}" alt="Prof. S.B. Weerakoon">
    	</div>
    	<div class="col-lg-4 col-sm-12 col-xs-12" align="center">
    		<h2>Prof. S.B. Weerakoon</h2><br>
            <p> University of Peradeniya <br>
                Work Email: <a href="sbweera@gmail.com">sbweera@gmail.com</a>
            </p>
        </div>
        <div class="col-lg-10 col-sm-12 col-xs-12" align="center">
            <h1>Professional Bio</h1>
            <p>Prof. S.B. Weerakoon holds a BScEng (First Class) from the University of Peradeniya, Sri Lanka (1982) as well
                as an MEng  and PhD from the University of Tokyo, Japan (1990). He is currently Senior Professor at the
                Department of Civil Engineering. He is also a Chartered Engineer and a Fellow of the Institution of Engineers
                Sri Lanka. His research interests are in the  areas of water resources development and management, hydraulic
                and hydrologic modeling and climate change impact downscaling.</p>
    	</div>
    </div>
</div>

{% endblock content %}