{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
	    <div class="col-sm-6-12 my-col-sm-6 align-self-center" align="center">
    		<img style="height: 20rem;" src="{% static 'images/Dr-Yacob-Arsano.jpg' %}" alt="Prof. Yacob Arsano Atito">
    	</div>
    	<div class="col-lg-4 col-sm-12 col-xs-12" align="center">
    		<h2>Prof. Yacob Arsano Atito</h2><br>
            <p> Associate professor, Director of University Press, AAU Project Coordinator, Addis Ababa University,
                Department of Political Science & International. </p>
            <h1>Work address: </h1>
            <p> P.O. Box 1176, <br>
                Addis Ababa, <br>
                Ethiopia. </p>
            <h1> Home </h1>
            <p> P.O. Box 31375, <br>
                Addis Ababa, <br>
                Ethiopia. <br>
                Work Phone: +251 1 011 123 96 50 <br>
                Work Phone: +251 1 011 123 10 67 <br>
                Work Email: <a href="yarsano17@gmail.com">yarsano17@gmail.com</a> <br>
                Work Email: <a href="yacob.arsano@aau.edu.et">yacob.arsano@aau.edu.et</a>
            </p>
        </div>
        <div class="col-lg-10 col-sm-12 col-xs-12" align="center">
            <h1>Professional Bio</h1>
            <p>Yacob Arsano has a  PhD from University of Zurich in Political Science, specializing in hydro-politics; two MA degrees from Ohio University, specializing in comparative politics and African studies; BA degree
                from Addis Ababa University in government affairs.
                He was Dean of College of Social Sciences (2006-2010) and Head of  Department of Political Science and International Relations (1986-90); Visiting professor at Uppsala University, Sweden (2010); Visiting fellow of Nordic Africa Institute (2010). He was Claude Ake Memorial Chair for 2010, which was anchored at the Nordic Africa Institute and Department of Peace and Conflict Research of Uppsala University. He is Advisor to Ethiopian Ministry of Water & Energy on trans-boundary water negotiations; Chairman of Regional Scientific Advisory Board Joint Area Case Study in the Horn of Africa (2002-2014); Vice Chairman of National Panel of
                Experts on Grand Ethiopian Renaissance Dam; Chairman and /or member of national and international panels and advisory bodies; Founding /member, associate member, secretary and /or chairman of several national and international professional societies. He has published several articles, co-authored books, contributed book chapters in the areas of hydro-politics, comparative politics, conflict and peace studies as well as on traditional institutions. His book (2007) is entitled: Ethiopia and the Nile: Dilemmas of National and Regional Hydro-politics, published by Swiss Federal Institute of Technology-Zurich (freely available at <a href="http://www.css.ethz.ch">http://www.css.ethz.ch</a>).
                He received the 2005 Peter-Becker Prize for Peace and Conflict Research from Philipps University of Marburg, in Germany, in tandem with Dr. Simon A. Mason of Swiss Federal Institute of Technology-Zurich. He was twice research fellow with the University of Bergen, Norway (1999-2000 & 2007); Research associate at Swiss Federal Institute of Technology-Zurich (2000-2004); Research associate with Pastoral and Environmental Network in the Horn of Africa (1995-97); Organizer, co-organizer and participant in numerous national, regional and international conferences and workshops.
            </p>
    	</div>
    </div>
</div>
{% endblock content %}
