{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
	    <div class="col-sm-6-12 my-col-sm-6 align-self-center" align="center">
    		<img style="height: 20rem;" src="{% static 'images/prof_sivashanthini_kuganathan.jpg' %}" alt="Prof. Sivashanthini Kuganathan">
    	</div>
    	<div class="col-lg-4 col-sm-12 col-xs-12" align="center">
    		<h2>Prof. Sivashanthini Kuganathan</h2><br>
            <p> Professor and Head University of Jaffna Department of Fisheries, Faculty of Science </p>

            <p>
                Work Email: <a href="sivashanthini@gmail.com">sivashanthini@gmail.com</a>
            </p>
        </div>
        <div class="col-lg-10 col-sm-12 col-xs-12" align="center">
            <h1>Professional Bio</h1>
            <p>Sivashanthini Kuganathan is a Professor in Fisheries attached to Department of Fisheries, Faculty of Science, University of Jaffna. She obtained her B.Sc (Hons.)
                degree in Zoology, at University of Jaffna, Sri Lanka in 1991. She had been appointed as a Probationary Lecturer in Zoology, University of Jaffna in 1992. Immediately
                after her appointment she got ODASS scholarship and did her Masters in University College of North Wales, Bangor, UK from 1993 – 1994. On her return she had been appointed
                as a confirmed Lecturer in Zoology. She did her PhD at CAS in Marine Biology, Annamalai University, India from 2001 to 2004, promoted as a Senior Lecturer in 2005 and
                later as an associate Professor in 2009. Since 2009 she had been appointed as the Head of the Department for Department of Fisheries, University of Jaffna. Became a
                Professor in Fisheries in 2014 and continued as a Head of the Department of Fisheries to date. She attended various training programmes in India, South Korea, Portugal,
                Spain and Norway. She is having 25 years research experience in the fields of Fisheries, Aquaculture and Water related studies. She handled many research projects sanctioned by
                National Research Council, National Science Foundation, International Union for Conservation of Nature and Jaffna University. She supervised the research projects of many undergraduate
                and post graduate students. Her research field of interests are water pollution, water treatment technology, water quality, water biology and aqua culture.</p>
    	</div>
    </div>
</div>

{% endblock content %}