{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
	    <div class="col-sm-6-12 my-col-sm-6 align-self-center" align="center">
    		<img style="height: 20rem;" src="{% static 'images/prof_k_d_w_nandalal.jpg' %}" alt="Prof. K. D. W. Nandalal">
    	</div>
    	<div class="col-lg-4 col-sm-12 col-xs-12" align="center">
    		<h2>Prof. K. D. W. Nandalal</h2><br>
            <p> Senior Professor, PhD University of Peradeniya
                Work Email: <a href="kdwn@pdn.ac.lk">kdwn@pdn.ac.lk</a>
            </p>
        </div>
        <div class="col-lg-10 col-sm-12 col-xs-12" align="center">
            <h1>Professional Bio</h1>
            <p>PhD : Wageningen Agricultural University, The Netherlands (1995) <br>
                MEng : Asian Institute of Technology, Thailand (1986) <br>
                BScEng : University of Peradeniya, Sri Lanka (1981) <br>
                Fellow, the Institution of Engineers, Sri Lanka <br>
                Member, the Association for the Advancement of Science <br>
                Member, the International Association of Hydrological Sciences <br>
                International Professional Engineer (SL) <br>
                Chartered Engineer</p>
    	</div>
    </div>
</div>

{% endblock content %}