{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
	    <div class="col-sm-6-12 my-col-sm-6 align-self-center" align="center">
    		<img style="height: 20rem;" src="{% static 'images/user.png' %}" alt="Ronald Paul Ddumba Semyalo">
    	</div>
    	<div class="col-lg-4 col-sm-12 col-xs-12" align="center">
    		<h2>Ronald Paul Ddumba Semyalo</h2><br>
            <p> Makerere University <br>
                Work Email: <a href="ronald.semyalo@gmail.com">ronald.semyalo@gmail.com</a>
            </p>
        </div>
        <div class="col-lg-10 col-sm-12 col-xs-12" align="center">
    	</div>
    </div>
</div>

{% endblock content %}