{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
    <div class="row justify-content-center">
	    <div class="col-sm-6-12 my-col-sm-6 align-self-center" align="center">
    		<img src="{% static 'images/rune_bakke.jpg' %}" alt="Rune Bakke">
    	</div>
    	<div class="col-lg-4 col-sm-12 col-xs-12" align="center">
    		<h2>Rune Bakke</h2><br>
            <p> PhD, University College of South-east Norway, Process, Energy and Environmental Technology. <br>
                Work Email: <a href="rune.bakke@usn.no">rune.bakke@usn.no</a>
            </p>
        </div>
    </div>

{% endblock content %}