{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
    <div class="row justify-content-center">
	    <div class="col-sm-6-12 my-col-sm-6 align-self-center" align="center">
    		<img src="{% static 'images/Dr-Yacob-Arsano.jpg' %}" alt="Synne Kleiven">
    	</div>
    	<div class="col-lg-4 col-sm-12 col-xs-12" align="center">
    		<h2>Synne Kleiven</h2><br>
            <> Assoc.prof. Department of Natural Sciences and Environmental Health. <br>
                Work Email: <a href="Synne.Kleiven@usn.no">Synne.Kleiven@usn.no</a>
            </p>
        </div>
        <div class="col-lg-10 col-sm-12 col-xs-12" align="center">

    	</div>
    </div>

{% endblock content %}