{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
	    <div class="col-sm-6-12 my-col-sm-6 align-self-center" align="center">
    		<img style="height: 20rem;" src="{% static 'images/tone_jøran_oredalen.jpg' %}" alt="Tone Jøran Oredalen">
    	</div>
    	<div class="col-lg-4 col-sm-12 col-xs-12" align="center">
    		<h2>Tone Jøran Oredalen</h2><br>
            <p> Assistant professor, USN-coordinator WaSo Projects University College of Southeast Norway (USN) Department of Natural Sciences and Environmental Health </p>
            <h1>Work address: </h1>
            <p> Gullbringvegen 36, <br>
                Telemark Norway Bø Telemark 3800, <br>
                Norway. <br>
                Work Phone: +47 35952702 <br>
                Work Email: <a href="tone.j.oredalen@usn.no">tone.j.oredalen@usn.no</a>
            </p>
        </div>
        <div class="col-lg-10 col-sm-12 col-xs-12" align="center">
            <h1>Professional Bio</h1>
            <p>Limnologist/freshwater ecologist by education. Work experience: 2 years as field engineer at The Norwegian Water Resources and Energy Directorate
                (NVE), 19 years at Norwegian Institute of Water research – NIVA as research assistant, researcher, research leader /head of Section of Eutrophication
                and Biological Diversity, 10 years at Telemark University College as Head of Department (“Nature-, Health and Environmental studies ” and “Culture,
                Language and History studies ”) and three and a half years as Dean of Faculty of Arts and Sciences/Campus Boe at University College of South East
                Norway – USN (before the merging 1th of January 2016: Telemark University College), 2700 students, 160 staff members https://www.usn.no/about-usn/campuses/campus-bo/<br>
                <br>
                Current position: Assistant Professor at USN, Department of Natural Sciences and Environmental Health. USN coordinator for WaSo-projects. <br>
                Scientific skills and interests: freshwater ecology; use, management and protection of water – a basic and increasingly scarce resource in global scaling.
                Emerging parasites on freshwater salmonids related to Climate Change.</p>
    	</div>
    </div>
</div>

{% endblock content %}