{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
	    <div class="col-sm-6-12 my-col-sm-6 align-self-center" align="center">
    		<img style="height: 20rem;" src="{% static 'images/dr_tore.jpg' %}" alt="Tore Sætersdal">
    	</div>
    	<div class="col-lg-4 col-sm-12 col-xs-12" align="center">
    		<h2>Tore Sætersdal</h2><br>
            <p> Deputy Director, Associate professor University of bergen </p>
            <h1>Work address: </h1>
            <p> Jekteviksbakken 31, <br>
                Bergen 5020, <br>
                Noreway. <br>
                Work Phone: +47 55589323 <br>
                Work Email: <a href="tore.satersdal@adm.uib.no">tore.satersdal@adm.uib.no</a>
            </p>
        </div>
        <div class="col-lg-10 col-sm-12 col-xs-12" align="center">
            <h1>Professional Bio</h1>
            <p>Dr. Tore Sætersdal is acting Director of UiB Global, former Center for Development Studies, based at the University
                of Bergen, Norway. He is an archaeologist by training with an MA on Tanzania and a PhD on Mozambique, both from
                the University of Bergen. He has published on African archaeology as well as contemporary culture, including the
                significance of the pre-colonial past for current issues regarding cultural heritage management and the use of
                cultural heritage. He has initiated and led regional projects in which staff and students from various countries in
                Eastern and Southern Africa have participated. He still teaches archaeology at the University of Zimbabwe through a co-operation programme.</p>
    	</div>
    </div>
</div>

{% endblock content %}