{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
    <div class="row justify-content-center">
	    <div class="col-sm-6-12 my-col-sm-6 align-self-center" align="center">
    		<img style="height: 20rem;" src="{% static 'images/waiswa_dauda_batega.jpg' %}" alt="Waiswa Dauda Batega">
    	</div>
    	<div class="col-lg-4 col-sm-12 col-xs-12" align="center">
    		<h2>Waiswa Dauda Batega</h2><br>
            <p> PhD, Makerere University, Department of Sociology and Anthropology. <br>
                Personal Email: <a href="dwbatega2000@yahoo.co.uk">dwbatega2000@yahoo.co.uk</a>
            </p>
        </div>
        <div class="col-lg-10 col-sm-12 col-xs-12" align="center">
            <h1>Professional Bio</h1>
            <p>Research areas of interest: <br>
                Water Policy and Governance Analysis
                Waste Water Recovery and Reuse Institutional and Policy Analysis
                Social-Economic Impact of Eutrophication and Harmful Algal Blooms
                Social-Economic Impact and Monitoring of Water and Sanitation Technology Investments
                Environmental and Social Impact Assessment of Water and Sanitation Supply Systems</p>
    	</div>
    </div>

{% endblock content %}
