{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
	    <div class="col-sm-6-12 my-col-sm-6 align-self-center" align="center">
    		<img style="height: 20rem;" src="{% static 'images/zakhar_maletskyi.jpg' %}" alt="Zakhar Maletskyi">
    	</div>
    	<div class="col-lg-4 col-sm-12 col-xs-12" align="center">
    		<h2>Zakhar Maletskyi</h2><br>
            <p> Postdoctoral Fellow, Project secretary Norwegian University of Life Sciences Faculty of Science and Technology (REALTEK) </p>

        </div>
        <div class="col-lg-10 col-sm-12 col-xs-12" align="center">
            <h1>Professional Bio</h1>
            <p>Dr Zakhar Maletskyi is a member of Water, Environment, Sanitation and Health (WESH) research group at the Faculty of Science & Technology (REALTEK) since 2015
                as postdoctoral fellow in Water & Wastewater Treatment with major in Membrane Processes. Dr Maletskyi’s research interests are within fields of Membrane,
                Adsorption and Ion Exchange technologies for water and wastewater treatment. Currently Dr Maletskyi is involved into research projects with focus on chemical
                methods of fouling control in MBR and foulants characterization, combined adsorption-membrane technologies for NOM removal, processing and utilization of waste water sludge.
                Dr Maletskyi teaches membrane filtration subjects in THT272 – Treatment of Water and Sewage and THT311 – Water Resources Management and Treatment Technologies courses.
                As a certified Project Management Professional (PMP, Project Management Institute), Zakhar Maletskyi is involved as coordinating secretary into international research and
                educational projects: Water Harmony Eurasia (SIU), Water Harmony ERASMUS + and International Partnership on Membrane Processes for Research and Educational Excellence –
                MEMPREX (RCN). Zakhar Maletskyi is a contributing member in Water, Society and Climate Change – WaSo Africa & Asia projects (NORHED / Norad)</p>
    	</div>
    </div>
</div>

{% endblock content %}